about-time==4.2.1 ; python_version >= "3.9" and python_full_version < "3.13"
alive-progress==3.1.5 ; python_version >= "3.9" and python_full_version < "3.13"
boto3==1.34.62 ; python_version >= "3.9" and python_full_version < "3.13"
botocore==1.34.62 ; python_version >= "3.9" and python_full_version < "3.13"
cachetools==5.3.3 ; python_version >= "3.9" and python_full_version < "3.13"
certifi==2024.2.2 ; python_version >= "3.9" and python_full_version < "3.13"
charset-normalizer==3.3.2 ; python_version >= "3.9" and python_full_version < "3.13"
click==8.1.7 ; python_version >= "3.9" and python_full_version < "3.13"
colorama==0.4.6 ; python_version >= "3.9" and python_full_version < "3.13"
commonmark==0.9.1 ; python_version >= "3.9" and python_full_version < "3.13"
contourpy==1.2.0 ; python_version >= "3.9" and python_full_version < "3.13"
cycler==0.12.1 ; python_version >= "3.9" and python_full_version < "3.13"
dateparser==1.2.0 ; python_version >= "3.9" and python_full_version < "3.13"
fonttools==4.49.0 ; python_version >= "3.9" and python_full_version < "3.13"
google-auth==2.28.2 ; python_version >= "3.9" and python_full_version < "3.13"
grapheme==0.6.0 ; python_version >= "3.9" and python_full_version < "3.13"
httmock==1.4.0 ; python_version >= "3.9" and python_full_version < "3.13"
idna==3.7 ; python_version >= "3.9" and python_full_version < "3.13"
importlib-resources==6.3.0 ; python_version >= "3.9" and python_version < "3.10"
jmespath==1.0.1 ; python_version >= "3.9" and python_full_version < "3.13"
kiwisolver==1.4.5 ; python_version >= "3.9" and python_full_version < "3.13"
kubernetes==26.1.0 ; python_version >= "3.9" and python_full_version < "3.13"
matplotlib==3.8.3 ; python_version >= "3.9" and python_full_version < "3.13"
numpy==1.26.4 ; python_version >= "3.9" and python_full_version < "3.13"
oauthlib==3.2.2 ; python_version >= "3.9" and python_full_version < "3.13"
packaging==24.0 ; python_version >= "3.9" and python_full_version < "3.13"
pandas==2.2.2 ; python_version >= "3.9" and python_full_version < "3.13"
pillow==10.3.0 ; python_version >= "3.9" and python_full_version < "3.13"
prometheus-api-client==0.5.3 ; python_version >= "3.9" and python_full_version < "3.13"
prometrix==0.1.17 ; python_version >= "3.9" and python_full_version < "3.13"
pyasn1-modules==0.3.0 ; python_version >= "3.9" and python_full_version < "3.13"
pyasn1==0.5.1 ; python_version >= "3.9" and python_full_version < "3.13"
pydantic==1.10.15 ; python_version >= "3.9" and python_full_version < "3.13"
pygments==2.17.2 ; python_version >= "3.9" and python_full_version < "3.13"
pyparsing==3.1.2 ; python_version >= "3.9" and python_full_version < "3.13"
python-dateutil==2.9.0.post0 ; python_version >= "3.9" and python_full_version < "3.13"
pytz==2024.1 ; python_version >= "3.9" and python_full_version < "3.13"
pyyaml==6.0.1 ; python_version >= "3.9" and python_full_version < "3.13"
regex==2023.12.25 ; python_version >= "3.9" and python_full_version < "3.13"
requests-oauthlib==1.4.0 ; python_version >= "3.9" and python_full_version < "3.13"
requests==2.32.0 ; python_version >= "3.9" and python_full_version < "3.13"
rich==12.6.0 ; python_version >= "3.9" and python_full_version < "3.13"
rsa==4.9 ; python_version >= "3.9" and python_full_version < "3.13"
s3transfer==0.10.0 ; python_version >= "3.9" and python_full_version < "3.13"
setuptools==69.2.0 ; python_version >= "3.9" and python_full_version < "3.13"
shellingham==1.5.4 ; python_version >= "3.9" and python_full_version < "3.13"
six==1.16.0 ; python_version >= "3.9" and python_full_version < "3.13"
slack-sdk==3.27.1 ; python_version >= "3.9" and python_full_version < "3.13"
typer[all]==0.7.0 ; python_version >= "3.9" and python_full_version < "3.13"
typing-extensions==4.6.0 ; python_version >= "3.9" and python_full_version < "3.13"
tzdata==2024.1 ; python_version >= "3.9" and python_full_version < "3.13"
tzlocal==5.2 ; python_version >= "3.9" and python_full_version < "3.13"
urllib3==1.26.18 ; python_version >= "3.9" and python_full_version < "3.13"
websocket-client==1.7.0 ; python_version >= "3.9" and python_full_version < "3.13"
zipp==3.18.0 ; python_version >= "3.9" and python_version < "3.10"
