about-time==4.2.1 ; python_version >= "3.9" and python_full_version <= "3.12.3"
alive-progress==3.1.5 ; python_version >= "3.9" and python_full_version <= "3.12.3"
boto3==1.34.62 ; python_version >= "3.9" and python_full_version <= "3.12.3"
botocore==1.34.62 ; python_version >= "3.9" and python_full_version <= "3.12.3"
cachetools==5.3.3 ; python_version >= "3.9" and python_full_version <= "3.12.3"
certifi==2024.2.2 ; python_version >= "3.9" and python_full_version <= "3.12.3"
charset-normalizer==3.3.2 ; python_version >= "3.9" and python_full_version <= "3.12.3"
click==8.1.7 ; python_version >= "3.9" and python_full_version <= "3.12.3"
colorama==0.4.6 ; python_version >= "3.9" and python_full_version <= "3.12.3"
commonmark==0.9.1 ; python_version >= "3.9" and python_full_version <= "3.12.3"
contourpy==1.2.0 ; python_version >= "3.9" and python_full_version <= "3.12.3"
cycler==0.12.1 ; python_version >= "3.9" and python_full_version <= "3.12.3"
dateparser==1.2.0 ; python_version >= "3.9" and python_full_version <= "3.12.3"
fonttools==4.49.0 ; python_version >= "3.9" and python_full_version <= "3.12.3"
google-auth==2.28.2 ; python_version >= "3.9" and python_full_version <= "3.12.3"
grapheme==0.6.0 ; python_version >= "3.9" and python_full_version <= "3.12.3"
httmock==1.4.0 ; python_version >= "3.9" and python_full_version <= "3.12.3"
idna==3.7 ; python_version >= "3.9" and python_full_version <= "3.12.3"
importlib-resources==6.3.0 ; python_version >= "3.9" and python_version < "3.10"
jmespath==1.0.1 ; python_version >= "3.9" and python_full_version <= "3.12.3"
kiwisolver==1.4.5 ; python_version >= "3.9" and python_full_version <= "3.12.3"
kubernetes==26.1.0 ; python_version >= "3.9" and python_full_version <= "3.12.3"
matplotlib==3.8.3 ; python_version >= "3.9" and python_full_version <= "3.12.3"
numpy==1.26.4 ; python_version >= "3.9" and python_full_version <= "3.12.3"
oauthlib==3.2.2 ; python_version >= "3.9" and python_full_version <= "3.12.3"
packaging==24.0 ; python_version >= "3.9" and python_full_version <= "3.12.3"
pandas==2.2.2 ; python_version >= "3.9" and python_full_version <= "3.12.3"
pillow==10.3.0 ; python_version >= "3.9" and python_full_version <= "3.12.3"
prometheus-api-client==0.5.3 ; python_version >= "3.9" and python_full_version <= "3.12.3"
prometrix==0.1.17 ; python_version >= "3.9" and python_full_version <= "3.12.3"
pyasn1-modules==0.3.0 ; python_version >= "3.9" and python_full_version <= "3.12.3"
pyasn1==0.5.1 ; python_version >= "3.9" and python_full_version <= "3.12.3"
pydantic==1.10.15 ; python_version >= "3.9" and python_full_version <= "3.12.3"
pygments==2.17.2 ; python_version >= "3.9" and python_full_version <= "3.12.3"
pyparsing==3.1.2 ; python_version >= "3.9" and python_full_version <= "3.12.3"
python-dateutil==2.9.0.post0 ; python_version >= "3.9" and python_full_version <= "3.12.3"
pytz==2024.1 ; python_version >= "3.9" and python_full_version <= "3.12.3"
pyyaml==6.0.1 ; python_version >= "3.9" and python_full_version <= "3.12.3"
regex==2023.12.25 ; python_version >= "3.9" and python_full_version <= "3.12.3"
requests-oauthlib==1.4.0 ; python_version >= "3.9" and python_full_version <= "3.12.3"
requests==2.32.0 ; python_version >= "3.9" and python_full_version <= "3.12.3"
rich==12.6.0 ; python_version >= "3.9" and python_full_version <= "3.12.3"
rsa==4.9 ; python_version >= "3.9" and python_full_version <= "3.12.3"
s3transfer==0.10.0 ; python_version >= "3.9" and python_full_version <= "3.12.3"
setuptools==69.2.0 ; python_version >= "3.9" and python_full_version <= "3.12.3"
shellingham==1.5.4 ; python_version >= "3.9" and python_full_version <= "3.12.3"
six==1.16.0 ; python_version >= "3.9" and python_full_version <= "3.12.3"
slack-sdk==3.27.1 ; python_version >= "3.9" and python_full_version <= "3.12.3"
typer[all]==0.7.0 ; python_version >= "3.9" and python_full_version <= "3.12.3"
typing-extensions==4.6.0 ; python_version >= "3.9" and python_full_version <= "3.12.3"
tzdata==2024.1 ; python_version >= "3.9" and python_full_version <= "3.12.3"
tzlocal==5.2 ; python_version >= "3.9" and python_full_version <= "3.12.3"
urllib3==1.26.18 ; python_version >= "3.9" and python_full_version <= "3.12.3"
websocket-client==1.7.0 ; python_version >= "3.9" and python_full_version <= "3.12.3"
zipp==3.18.0 ; python_version >= "3.9" and python_version < "3.10"
